<a href="{% url 'jobs:view_job' job.id %}">
    <div class="card mb-2">
        <!-- Card Header (Job Title, Added At, and Deadline) -->
        <div class="card-header">
          <h5 class="card-title">{{ job.title }}</h5>
          <p class="card-text">
            <small class="text-muted">Added on: {{ job.added_at|date:"M d, Y" }}</small><br>
            <small class="text-muted">Deadline: {{ job.deadline|date:"M d, Y, H:i" }}</small>
          </p>
        </div>
        
        <!-- Card Body (Job Summary) -->
        <div class="card-body">
          <p class="card-text">{{ job.summary }}</p>
        </div>
    </div>
</a>