<div >
    <h4 class="text-info">Job Categories</h4>
    {% for cat in categories %}
    <div class="card mb-1">
        <div class="card-body">
          <h5 class="card-title">{{cat.name}}</h5>
          <p class="card-text">{{cat.description}}</p>
          {% comment %} <a href="#" class="btn btn-primary">View Jobs</a> {% endcomment %}
        </div>
    </div>
    {% endfor %}
    {% if request.user.is_staff %}
    <a href="{% url 'jobs:category_create' %}" class="btn btn-primary">Add New Category</a>
    {% endif %}
</div>