{% include "accounts/base.html" %}
{% block head %}
<style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f8f9fa;
      margin: 0;
    }
    .login-form {
      max-width: 660px;
      width: 100%;
      padding: 20px;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .login-form .form-control:focus {
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      border-color: rgba(0, 123, 255, 0.5);
    }
    .login-form .logo {
      text-align: center;
      margin-bottom: 20px;
    }
    .login-form .logo img {
      max-width: 50px;
    }
  </style>
{% endblock head %}

{% block content %}
<div class="login-form">
    <h2 class="text-center mb-4">BJIT Jobs</h2>
    <h5 class="text-center mb-4">Create New Account</h5>
    
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="my-2">
          {% for non_field_error in form.non_field_errors %}
              <div class="text-danger text-center">{{non_field_error}}</div>
          {% endfor %}
      </div>
      {% endif %}
      <div class="vstack gap-3">
          {% for field in form %}
              <div>
                  <label for="{{field.id_for_label}}" class="form-label">{{field.label}}</label>
                  {{ field }}
                  {% if field.help_text %}
                  <p class="help" id="{{ field.auto_id }}_helptext">
                      {{ field.help_text|safe }}
                  </p>
                  {% endif %}
                  {% for field_error in field.errors %}
                      <div class="text-danger text-center">{{field_error}}</div>
                  {% endfor %}
              </div>
          {% endfor %}
          <div>
          </div>
      </div>
      <p class="d-grid">
          <button type="submit" class="btn btn-dark">Submit</button>
      </p>
  </form>
</div>
{% endblock content %}