<!-- apply_for_job.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Apply for Job: {{ job.title }}</h2>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div class="mb-3">
        <label for="job" class="form-label">Job</label>
        <input type="text" class="form-control" id="job" value="{{ job.title }}" disabled>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        {{ form.description }}
      </div>

      <div class="mb-3">
        <label for="resume" class="form-label">Resume</label>
        {{ form.resume }}
      </div>

      <input type="hidden" name="job" value="{{ job.id }}">
      <input type="hidden" name="applicant" value="{{ request.user.id }}">


      <button type="submit" class="btn btn-primary">Submit Application</button>
    </form>

    {% if form.errors %}
      <div class="alert alert-danger mt-3">
        <strong>There were some errors with your submission:</strong>
        <ul>
          {% for field in form %}
            {% for error in field.errors %}
              <li>{{field}}: {{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock %}
