{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">{{ job.title }}</h3>
            <p class="card-text">
              <small class="text-muted">Added on: {{ job.added_at|date:"M d, Y" }}</small><br>
              <small class="text-muted">Deadline: {{ job.deadline|date:"M d, Y, H:i" }}</small>
            </p>
          </div>

          <div class="card-body">
            <h5 class="card-title">Summary</h5>
            <p class="card-text">{{ job.summary }}</p>

            <h5 class="card-title">Description</h5>
            <p class="card-text">{{ job.description|linebreaksbr }}</p>

            <h5 class="card-title">Category</h5>
            <p class="card-text">{{ job.category.name }}</p>

            {% if request.user.is_authenticated %}
            <a href="{% url 'jobs:apply_job' job.id %}" class="btn btn-secondary">Apply Now</a>
            {% endif %}
          </div>
        </div>
        {% if request.user.is_superuser %}
        <div class="card mt-2">
          <div class="card-header">
            <h5 class="card-title">Applications ({{applications.count}})</h3>
          </div>

          {% for application in applications %}
          <div class="card-body">
            <h6 class="card-title mb-2 text-muted">Applied by: {{ application.applicant.username|title }}</h6>
            <p class="card-text"><strong>Applied on:</strong> {{ application.applied_at|date:"F j, Y, g:i a" }}</p>
            
            <h6 class="mt-3">Description</h6>
            <p class="card-text">{{ application.description }}</p>
            
            {% if application.resume %}
                <a href="{{ application.resume.url }}" class="btn btn-primary" download>Download Resume</a>
            {% else %}
                <p>No resume uploaded</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
